<div class="sidebar">

    <div class="logo">
        <img src="../images/meryenda-icon.png" alt="Meryenda Logo">
        <h2>MERYENDA</h2>
    </div>

    <ul class="menu">

        <li>
            <a href="../pages/dashboard.html">
                <i class="ph ph-squares-four"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li>
            <a href="../pages/pointofsale.html">
                <i class="ph ph-cash-register"></i>
                <span>Point of Sale</span>
            </a>
        </li>

        <li>
            <a href="../pages/products.html">
                <i class="ph ph-package"></i>
                <span>Products</span>
            </a>
        </li>

        <li>
            <a href="../pages/stocks.html">
                <i class="ph ph-chart-pie"></i>
                <span>Stocks</span>
            </a>
        </li>

        <li>
            <a href="../pages/salesanalytics.html">
                <i class="ph ph-chart-bar"></i>
                <span>Sales Analytics</span>
            </a>
        </li>

        <li>
            <a href="../pages/purchasehistory.html">
                <i class="ph ph-folder"></i>
                <span>Purchase History</span>
            </a>
        </li>

        <li>
            <a href="../pages/users.html">
                <i class="ph ph-users"></i>
                <span>Users</span>
            </a>
        </li>

    </ul>

    <div class="logout">
        <i class="ph ph-sign-out"></i>
        <span>Logout</span>
    </div>

</div>